#Header {
  background-color: lightblue;
  padding: 10px;
  font-size:215%;
  font-family: 'Sedgwick Ave', sans-serif;
}
body {
  font-family: 'Abel', serif;
  text-align: center;
  background-image: url("qbkls.png");
  background-color: #cccccc;
}
#Welcome {
  font-size: 225%;
}
h2 {
  font-size: 175%;
}
.h2texts {
  font-size: 125%;
  text-align: center;
  padding: 0px 40px 20px 40px;
}
footer {
  background-color: lightblue;
  padding: 15px;
  font-size: 225%;
  font-family: 'Sedgwick Ave', sans-serif;
}
#Footer li{
  list-style: none;
  display: inline;
  margin: auto 1.5em auto 1.5em;
}