#Header {
  background-color: lightblue;
  padding: 15px;
  font-size:200%;
  font-family: 'Sedgwick Ave', sans-serif;
}
body {
  font-family: 'Abel', serif;
  text-align: center;
}
#Welcome {
  font-size: 250%;
}
h2 {
  font-size: 175%;
}
.h2texts {
  font-size: 150%;
}